<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <system.serviceModel>
        <!--<bindings>
            <basicHttpBinding>
                <binding name="ndfdXMLBinding" textEncoding="ISO-8859-1" />
            </basicHttpBinding>
        </bindings>-->

        <!--ChatBot.Wcf.CustomTextMessageEncodingElement,-->
        <!--<extensions>
            <bindingElementExtensions>
                <add name="customTextMessageEncoding"
                     type="ChatBot.Wcf.CustomTextMessageBindingElement, ChatBot"/>
            </bindingElementExtensions>
        </extensions>
        <bindings>
            <customBinding>
                <binding name="ISO8859Binding" >
                    <customTextMessageEncoding encoding="ISO-8859-1" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        
        bindingConfiguration="ISO8859Binding"
        -->

        <client>
            <endpoint address="http://graphical.weather.gov/xml/SOAP_server/ndfdXMLserver.php"
                binding="basicHttpBinding" 
                contract="ndfdXML.ndfdXMLPortType" name="ndfdXMLPort" />
        </client>
    </system.serviceModel>
</configuration>